<div class="container" id="main-container">
  <div class="alert alert-warning d-flex align-items-center" role="alert" id="alert-not-found" hidden>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      Реч није нађена!
    </div>
  </div>

  <div id="field" class="container" style="width:450px; height:500px">
  <% 6.times do %>
    <div class="row srble-row h1 g-4">
      <% 5.times do %>
        <div class="col letter badge bg-light text-dark w-100"></div>
      <% end %>
    </div>
  <% end %>
  </div>

</div>

<footer class="footer" id="keyboard">
  <% @keyboard_rows.each_with_index do |keyboard_row, i| %>
  <div id="keyrow_<%= i %>">
    <% keyboard_row.each do |char| %>
      <button class="btn btn-light" data-letter="<%= char %>">
        <b><%= char %></b>
      </button>
    <% end %>
    <% if i == 2 %>
      <button class="btn btn-light" data-letter="Backspace">
        &#9003;
      </button>
      <button class="btn btn-light" data-letter="Enter" id="btn-enter" disabled>
        Enter
      </button>
    <% end %>
  </div>
  <% end %>
</footer>

<script>
var currentRowIndex = 0;
var currentLetter = 0;
var currentWord = "";

const allLetters = "<%= @keyboard_rows.map(&:join).join %>";

$("#keyboard button").click(function (event) {
  const char = $(this).attr("data-letter");
  inputChar(char);
});
$(document).keydown(function (event) {
  inputChar(event.key.toUpperCase());
});
</script>
